<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easystudy.mapper.RightMapper" >
  <!-- 结果映射 -->
  <resultMap id="BaseResultMap" type="com.easystudy.model.Right" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="reserver1" property="reserver1" jdbcType="VARCHAR" />
    <result column="reserver2" property="reserver2" jdbcType="VARCHAR" />
  </resultMap>
  <!-- 检索列声明 -->
  <sql id="Base_Column_List" >
    id, name, description, reserver1, reserver2
  </sql>
  <sql id="Alias_Column_List" >
    ${alias}.name, 
    ${alias}.description, 
    ${alias}.reserver1, ${alias}.reserver2
  </sql>
  <!-- 通过主键检索 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_right
    where id = #{id,jdbcType=INTEGER}
  </select>
   <select id="selectMaxByAttributes" resultType="long">
  	select count(1) from t_right
  </select>	
  <!-- 分页获取所有权限 -->
  <select id="selectByPage" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from t_right
    order by id desc
    limit #{pageIndex},#{pageSize}
  </select>
  <!-- 通过权限名获取权限 -->
  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
  	select 
    <include refid="Base_Column_List" />
    from t_right
    where name = #{name,jdbcType=VARCHAR}
  </select>
  <!-- 获取用户所有权限列表 -->
  <select id="selectByUsername" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select distinct(rt.id), <include refid="Alias_Column_List" ><property name="alias" value="rt"/></include>
  	from t_right rt 
  	join t_role_right rr on rt.id=rr.rightId
  	join t_role r on rr.roleId=r.id
  	join t_user_role ur on ur.roleId=r.id
  	join t_user u on u.id=ur.userId
	where u.username=#{userName,jdbcType=VARCHAR}
  </select>
  <!-- 获取角色所有权限列表 -->
  <select id="selectByRoleId" resultMap="BaseResultMap" parameterType="java.lang.Long">
  	select distinct(rt.id), <include refid="Alias_Column_List" ><property name="alias" value="rt"/></include>
  	from t_right rt 
  	join t_role_right rr on rt.id=rr.rightId
  	join t_role r on rr.roleId=r.id
	where r.id=#{roleId,jdbcType=INTEGER}
  </select>
  <!-- 通过主键删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_right
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <!-- 通过名称删除记录 -->
  <delete id="deleteByRightName" parameterType="java.lang.String" >
    delete from t_right
    where name = #{name, jdbcType=VARCHAR}
  </delete>
  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.easystudy.model.Right">
    insert into t_right (id, name, description, reserver1, reserver2)
    values (#{id,jdbcType=INTEGER},  #{name,jdbcType=VARCHAR}, 
    		#{description,jdbcType=VARCHAR},
      		#{reserver1,jdbcType=VARCHAR}, #{reserver2,jdbcType=VARCHAR})
  </insert>
  <!-- 插入记录[保存非空列] -->
  <insert id="insertSelective" parameterType="com.easystudy.model.Right">
    insert into t_right
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="reserver1 != null" >
        reserver1,
      </if>
      <if test="reserver2 != null" >
        reserver2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="reserver1 != null" >
        #{reserver1,jdbcType=VARCHAR},
      </if>
      <if test="reserver2 != null" >
        #{reserver2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- 通过主键更新非空列 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.easystudy.model.Right" >
    update t_right
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="reserver1 != null" >
        reserver1 = #{reserver1,jdbcType=VARCHAR},
      </if>
      <if test="reserver2 != null" >
        reserver2 = #{reserver2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 通过主键更新所有列 -->
  <update id="updateByPrimaryKey" parameterType="com.easystudy.model.Right" >
    update t_right
    set 
    name = #{name,jdbcType=VARCHAR},
    description = #{description,jdbcType=VARCHAR},
    reserver1 = #{reserver1,jdbcType=VARCHAR},
    reserver2 = #{reserver2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>