<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easystudy.mapper.WechatAppMapper" >
  <resultMap id="BaseResultMap" type="com.easystudy.model.WechatApp" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="openId" property="openId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="reserver1" property="reserver1" jdbcType="VARCHAR" />
    <result column="reserver2" property="reserver2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, openId, type, reserver1, reserver2
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_wxapp
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByUsernameOrOpenId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_wxapp
    <where>
    	<if test="username != null and username.length() > 0">
    		username = #{username,jdbcType=VARCHAR}
    	</if>
    	<if test="openId != null and openId.length() > 0">
    		and openId = #{openId,jdbcType=VARCHAR}
    	</if>
    	<if test="type != null">
    		and type = #{type, jdbcType=TINYINT}
    	</if>
    </where>
  </select>
  <!-- 
  	List<WechatApp> selectByAttributes(@Param("pageIndex")Long pageIndex, @Param("pageSize")Long pageSize, 
			@Param("username")String username, @Param("openId")String openId, @Param("type")Long type);
   -->
  <select id="selectByAttributes" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from t_wxapp
  	<where>
  		<if test="username != null and username.length() > 0">
    		username = #{username,jdbcType=VARCHAR}
    	</if>
    	<if test="openId != null and openId.length() > 0">
    		and openId = #{openId,jdbcType=VARCHAR}
    	</if>
    	<if test="type != null">
    		and type = #{type, jdbcType=TINYINT}
    	</if>
  	</where>
  	limit #{pageIndex}, #{pageSize}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_wxapp
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.easystudy.model.WechatApp" >
    insert into t_wxapp (id, username, openId, 
      type, reserver1, reserver2
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}, 
      #{type,jdbcType=TINYINT}, #{reserver1,jdbcType=VARCHAR}, #{reserver2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.easystudy.model.WechatApp" useGeneratedKeys="true" keyProperty="id" >
    insert into t_wxapp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="openId != null" >
        openId,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="reserver1 != null" >
        reserver1,
      </if>
      <if test="reserver2 != null" >
        reserver2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="reserver1 != null" >
        #{reserver1,jdbcType=VARCHAR},
      </if>
      <if test="reserver2 != null" >
        #{reserver2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.easystudy.model.WechatApp" useGeneratedKeys="true" keyProperty="id" >
    update t_wxapp
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        openId = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="reserver1 != null" >
        reserver1 = #{reserver1,jdbcType=VARCHAR},
      </if>
      <if test="reserver2 != null" >
        reserver2 = #{reserver2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.easystudy.model.WechatApp" >
    update t_wxapp
    set username = #{username,jdbcType=VARCHAR},
      openId = #{openId,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      reserver1 = #{reserver1,jdbcType=VARCHAR},
      reserver2 = #{reserver2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>